@font-face {
  font-family: Nexa;
  src: url("../fonts/Nexa Light.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: url("../fonts/Nexa Bold.otf") format("opentype");
}

body {
  font-family: Nexa, sans-serif;
}

.page {
  margin: 10px auto;
  padding-top: 150px;
}
.page p {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  clear: both;
}
.page p:first-of-type {
  margin-top: 100px;
}
.page output {
  text-align: center;
  width: 100%;
  display: block;
}

.controls {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.controls a:visited {
  color: #33D;
}

.words {
  font-size: 36px; 
  font-family: Nexa, sans-serif;
  font-weight: bold;
}
.words span {
  padding: 0 10px;
}

.code {
  font-size: 16px;
  font-family: Nexa, sans-serif;
}

